.FooterOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary);
    text-align: left;
    height: 10rem;
}

#footer__options-phone:hover {
    letter-spacing: 2px;
    transition-delay: 0;
    transition-duration: 100ms;
}

#footer__options-email:hover {
    transition-delay: 100ms;
    transition-duration: 100ms;
    border-bottom: 1px solid white;
}