.dark {
  --primary: white;
  --background: #161519;
  --accent: linear-gradient(268.15deg, rgba(162, 160, 255, 0.6) 0%, rgba(162, 160, 255, 0.48) 100%);
  --button: #383838;
}

.light {
  --primary: black;
  --background: white;
  --accent: #E6E7FE;
  --button: black
}

.App>h1 {
  color: var(--primary);
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  text-align: center;
}

.app__section {
  background-color: var(--background);
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 200;
}