.dark {
  --primary: black;
  --background: blue
}

.light {
  --primary: pink;
  --background: skyblue
}

.App>h1 {
  color: var(--primary);
}

.App {
  background-color: var(--background);
  text-align: center;
}